@import "tailwindcss";

@theme {
  --font-display: "Tiempos Headline", serif;
  --font-serif: "Tiempos Text", serif;
  --font-sans: "Chivo", sans-serif;
}

:root {
  --text: #6b6375;
  --text-h: #08060d;
  --bg: #fff;
  --border: #e5e4e7;
  --code-bg: #f4f3ec;
  --accent: #aa3bff;
  --accent-bg: rgba(170, 59, 255, 0.1);
  --accent-border: rgba(170, 59, 255, 0.5);
  --social-bg: rgba(244, 243, 236, 0.5);
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --sans: system-ui, "Segoe UI", Roboto, sans-serif;
  --heading: system-ui, "Segoe UI", Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #9ca3af;
    --text-h: #f3f4f6;
    --bg: #16171d;
    --border: #2e303a;
    --code-bg: #1f2028;
    --accent: #c084fc;
    --accent-bg: rgba(192, 132, 252, 0.15);
    --accent-border: rgba(192, 132, 252, 0.5);
    --social-bg: rgba(47, 48, 58, 0.5);
    --shadow:
      rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.25) 0 4px 6px -2px;
    --color-gdn-blue: #1c4480;
  }

  #social .button-icon {
    filter: invert(1) brightness(2);
  }
}

body {
  margin: 0;
}

#root {
  width: 100vw;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  border-inline: 1px solid var(--border);
  min-height: 100svh;
  flex-direction: column;
  box-sizing: border-box;
}

@font-face {
  font-family: "Tiempos Headline";
  src:
    url("../public/fonts/tiempos-headline/TiemposHeadline-Black.woff2")
      format("woff2"),
    url("../public/fonts/tiempos-headline/TiemposHeadline-Black.woff")
      format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Tiempos Headline";
  src:
    url("../public/fonts/tiempos-headline/TiemposHeadline-BlackItalic.woff2")
      format("woff2"),
    url("../public/fonts/tiempos-headline/TiemposHeadline-BlackItalic.woff")
      format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Tiempos Headline";
  src:
    url("../public/fonts/tiempos-headline/TiemposHeadline-Bold.woff2")
      format("woff2"),
    url("../public/fonts/tiempos-headline/TiemposHeadline-Bold.woff")
      format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Tiempos Headline";
  src:
    url("../public/fonts/tiempos-headline/TiemposHeadline-BoldItalic.woff2")
      format("woff2"),
    url("../public/fonts/tiempos-headline/TiemposHeadline-BoldItalic.woff")
      format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Tiempos Headline";
  src:
    url("../public/fonts/tiempos-headline/TiemposHeadline-Light.woff2")
      format("woff2"),
    url("../public/fonts/tiempos-headline/TiemposHeadline-Light.woff")
      format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Tiempos Headline";
  src:
    url("../public/fonts/tiempos-headline/TiemposHeadline-LightItalic.woff2")
      format("woff2"),
    url("../public/fonts/tiempos-headline/TiemposHeadline-LightItalic.woff")
      format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Tiempos Headline";
  src:
    url("../public/fonts/tiempos-headline/TiemposHeadline-Medium.woff2")
      format("woff2"),
    url("../public/fonts/tiempos-headline/TiemposHeadline-Medium.woff")
      format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Tiempos Headline";
  src:
    url("../public/fonts/tiempos-headline/TiemposHeadline-MediumItalic.woff2")
      format("woff2"),
    url("../public/fonts/tiempos-headline/TiemposHeadline-MediumItalic.woff")
      format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Tiempos Headline";
  src:
    url("../public/fonts/tiempos-headline/TiemposHeadline-Regular.woff2")
      format("woff2"),
    url("../public/fonts/tiempos-headline/TiemposHeadline-Regular.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Tiempos Headline Regular";
  src:
    url("../public/fonts/tiempos-headline/TiemposHeadline-RegularItalic.woff2")
      format("woff2"),
    url("../public/fonts/tiempos-headline/TiemposHeadline-RegularItalic.woff")
      format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Tiempos Headline";
  src:
    url("../public/fonts/tiempos-headline/TiemposHeadline-Semibold.woff2")
      format("woff2"),
    url("../public/fonts/tiempos-headline/TiemposHeadline-Semibold.woff")
      format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Tiempos Headline";
  src:
    url("../public/fonts/tiempos-headline/TiemposHeadline-SemiboldItalic.woff2")
      format("woff2"),
    url("../public/fonts/tiempos-headline/TiemposHeadline-SemiboldItalic.woff")
      format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Tiempos Text";
  src:
    url("../public/fonts/tiempos-text/TiemposText-Bold.woff2") format("woff2"),
    url("../public/fonts/tiempos-text/TiemposText-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Tiempos Text";
  src:
    url("../public/fonts/tiempos-text/TiemposText-BoldItalic.woff2")
      format("woff2"),
    url("../public/fonts/tiempos-text/TiemposText-BoldItalic.woff")
      format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Tiempos Text";
  src:
    url("../public/fonts/tiempos-text/TiemposText-Medium.woff2") format("woff2"),
    url("../public/fonts/tiempos-text/TiemposText-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Tiempos Text";
  src:
    url("../public/fonts/tiempos-text/TiemposText-MediumItalic.woff2")
      format("woff2"),
    url("../public/fonts/tiempos-text/TiemposText-MediumItalic.woff")
      format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Tiempos Text";
  src:
    url("../public/fonts/tiempos-text/TiemposText-Regular.woff2")
      format("woff2"),
    url("../public/fonts/tiempos-text/TiemposText-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Tiempos Text";
  src:
    url("../public/fonts/tiempos-text/TiemposText-RegularItalic.woff2")
      format("woff2"),
    url("../public/fonts/tiempos-text/TiemposText-RegularItalic.woff")
      format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Tiempos Text";
  src:
    url("../public/fonts/tiempos-text/TiemposText-Semibold.woff2")
      format("woff2"),
    url("../public/fonts/tiempos-text/TiemposText-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Tiempos Text";
  src:
    url("../public/fonts/tiempos-text/TiemposText-SemiboldItalic.woff2")
      format("woff2"),
    url("../public/fonts/tiempos-text/TiemposText-SemiboldItalic.woff")
      format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
